fieldset {
  all: unset;
  display: block;
  margin-bottom: 30px;
}

fieldset label {
  display: inline-block;
  margin-bottom: 10px;
}

header {
  margin-bottom: 30px;
}

.upload h1 {
  margin-bottom: 30px;
}
